*{
    /* o border-box delimita como o container deve se comportar */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    border: solid 3px blueviolet;
    margin: 5px;
}

main {
    /* deixar o container flexivel e assim cabem varias caixas na mesma linha */
    display: flex;
}

.header {
    background-color: aquamarine;
    padding: 20px; 
    margin: 10px; 
    border: solid 1px #9999;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.nav {
    background-color: rgb(205, 236, 158);
    padding: 10px;
    margin: 5px;
    border: solid 1px #9999;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);


}

.article {
    background-color: rgb(128, 128, 241);
    padding: 20px;
    margin: 5px;
    border: solid 1px #9999;
    width: 60%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.section {
    background-color: rgb(241, 192, 101);
    padding: 30px;
    margin: 5px;
    border: solid 1px #9999;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

.aside {
    background-color: rgb(187, 138, 187);
    padding: 30px;
    margin: 5px;
    border: solid 1px #9999;
    width: 40%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}


.footer {
    background-color: aquamarine;
    padding: 20px;
    margin: 5px;
    border: solid 1px #9999;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

}

    /* deixar a tela responsiva*/
@media only screen and (max-width: 600px){
    .main {
        display: block;
    }
    .article {
        width:calc(100% - 20px);
    }
    .aside {
        width:calc(100% - 20px);
    }
}

    /* outra forma de deixar a tela responsiva
    @media only screen and (max-width: 600px){
    .main {
        flex-direction: column;
    */
